/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}


body {
	font-family: "Poppins" !important;
	background-color: whitesmoke !important;
}


/* Navigation Bar Start */
.navbar {
	background-color: whitesmoke !important;
}

.scrolled {
	background-color: ghostwhite;
	transition: 0.4s;
}

.navbar-brand {
	font-weight: 800;
	font-size: 0.9rem !important;
	color: black;
	background-color: white;
	box-shadow: 0.3rem 0.3rem #FF6000;
	border-radius: 0.3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0.5rem;
}

.nav-link {
	font-weight: 600;
	font-size: 0.9rem;
	margin: 0.5rem;
	color: black;
	text-align: center;
}

.navbar-brand:hover{
	color: black;
}

.nav-link:hover {
	font-weight: 800 !important;
	color: black !important;
	background-color: white !important;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem #FF6000;
}

.navbar-toggler {
	outline: none !important;
	border: none !important;
	background-color: white !important;
	border-radius: 0.3rem !important;
	box-shadow: 0.3rem 0.3rem #FF6000 !important;
}

.navbar-toggler-icon {
	color: black !important;
	font-size: 0.8rem !important;
	font-weight: 800 !important;
}

.navbar-nav {
	text-align: center !important;
	margin: none !important;
}

@media only screen and (max-width: 990px) {
	.navbar-nav {
		margin-top: 0.7rem !important;
	}

	.nav-link{
		margin-left: 0;
	}

	.nav-link:hover {
		font-weight: 800;
		border: none !important;
		background-color: none !important;
		border-radius: none;
		box-shadow: none;
	}
}
/* Navigation Bar End */


/* Landing Page Home Start */
#home {
	margin-top: 1.5rem;
	position: relative;
}

#home p, #home h1, #home h5 {
	margin-bottom: 0;
}

#home p {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

#home h1 {
	font-size: 3rem;
}

#home h5 {
	font-size: 0.8rem;
}

#home img {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: whitesmoke;
	border-radius: 0.3rem;
	box-shadow: 0.5rem 0.5rem black;
	margin-bottom: 2.5rem;
	margin-top: 1rem;
}

#home a {
	overflow: hidden;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 1px solid black;
	background-color: white;
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: black;
	font-size: 0.8rem;
	text-decoration: none;
	font-weight: 600;
}
#home a:hover {
	font-weight: 800;
	border: none;
	box-shadow: 0.3rem 0.3rem #FF6000;
	background-color: white;
}
/* Landing Page Home End */


/* About Section Start */
#about-content {
	background-color: white;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem #FF6000;
	font-weight: 600;
}

#about-title {
	background-color: white;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem black;
	border: 1px solid black;
	font-weight: 600;
}

#about-title {
	padding: 1rem;
	text-align: right;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.carousel-item {
	border-radius: 0.3rem;
}

.carousel-item img {
	margin-left: auto;
	margin-right: auto;
}

.carousel-item h5 {
	color: black;
	font-size: 1.5rem;
	font-weight: 800;
	padding: 1rem;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
	z-index: 0 !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
	z-index: 0 !important;
}

#about-content {
	text-align: justify;
	font-size: 1rem;
	padding: 2rem;
	line-height: 2.3rem;
	margin-top: 0;
	margin-bottom: 2rem;
}
/* About Section End */


/* Projects Section Start */
#projects-title {
	border: 1px solid black;
	padding: 1rem;
	text-align: right;
	background-color: white;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem black;
	margin-bottom: 1;
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.card {
	outline: none !important;
	background-color: white;
	box-shadow: 0.3rem 0.3rem #FF6000;
}
/* Projects Section End */


/* Tools Section Start */
#tools-title {
	border: 1px solid black;
	padding: 1rem;
	text-align: right;
	background-color: white;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem black;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

#tools-icon {
	padding: 1rem;
	background-color: white;
	box-shadow: 0.3rem 0.3rem #FF6000;
	border-radius: 0.3rem;
	margin: 0.8rem;
}
/* Tools Section End */


/* Contact Section Start */
#contact-title {
	border: 1px solid black;
	padding: 1rem;
	text-align: right;
	background-color: white;
	border-radius: 0.3rem;
	box-shadow: 0.3rem 0.3rem black;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

#contact input, #contact textarea {
	outline: none !important;
	border: none !important;
	background-color: white;
	box-shadow: 0.3rem 0.3rem #FF6000;
	padding: 1rem !important;
}

#contact button {
	border: 1px solid black;
	background-color: white;
	font-weight: 600;
	font-size: 1rem;
}

#contact button:hover {
	border: none;
	font-weight: 800;
	box-shadow: 0.3rem 0.3rem #FF6000;
}
/* Contact Section End */


/* Footer Section Start */
#footer-content-container {
	background-color: #FF6000;
	padding: 3rem;
}

#footer-content-container p {
	font-size: 1rem;
	color: black;
}

#footer-content-container a {
	text-decoration: none;
	color: black;
}

#footer-content-container a:hover {
	font-weight: 800;
}
/* Footer Section End */